<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bikestreets-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DDE54B2233EBB0C0051BF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DDE54C6233EBB0C0051BF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DDE54D1233EBB0C0051BF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
